.Company{
    border: 1px solid blue;
    border-radius: 15px;
    margin: 2px;
    padding: 5px 15px;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.Company-name{
    margin: 5px 0;
}

.Company-link{
    color: black;
}

.Company-link:hover{
    color: green;
}

.Company-description{
    margin: 5px 0;
    text-align: center;
}

.Company-employees{
    margin: 5px 0;
}