.Job{
    border: 1px solid blue;
    border-radius: 15px;
    margin: 2px;
    padding: 5px 15px;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.Job-title{
    margin: 5px 0;
    color: black;
}

.Job-link{
    color: black;
}

.Job-link:hover{
    color: blue;
}

.Job-salary{
    margin: 5px 0;
}

.Job-company{
    margin: 5px 0;
}

.Job-equity{
    margin: 5px 0;
}

.Job-apply-btn{
    margin-left: 5px;
    font-size: smaller;
    padding: 4px 8px;
    color: black;
    background-color: lightgreen;
}

.disabled{
    background-color: gray;
}