
.SearchBar-form{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}

.SearchBar-btn{
    padding: 4px 16px;
    margin-left: 10px;
}

.SearchBar-input{
    height: 25px;
    border: none;
    border-radius: 5px;
    padding: 2px;
}